{
  "presets": [
    "react",
    "./scripts/preset-es2015",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "lodash"
      ]
    },
    "production": {
      "plugins": [
        "lodash",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        [
          "transform-react-remove-statics",
          {
            "propTypes": true,
            "defaultProps": true
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  },
  "plugins": [],
  "sourceMaps": true
}
