### user ###
.DS_Store
.vscode
.idea
### test ###
/bin
/screenshots

### base ###
# release folder
/dist
/browser

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
coverage
.nyc_output
