@import '../../styles/colors';
@import '../../styles/mixins';

.markets {
  &__content {
    @include content;
  }

  &__pagination {
    @include content-pagination;
  }

  &__change-column {
    display: flex;
    justify-content: flex-end;
    width: 43%;
  }
}
