@import '../../styles/colors';
@import '../../styles/font-weights';


.dashboard {
  margin-top: 48px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
  }
}

.trades-nav {
  color: $spun-pearl;
  font-size: 12px;
  padding-top: 12px;

  @include font-weight-regular;

  &__ul {
    border-bottom: 1px solid $white-lilac;
    display: flex;
  }

  &__li {
    margin-right: 35px;
    padding-bottom: 21px;

    &:first-child {
      margin-right: 45px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-bottom: 2px solid $mulled-wine;
      color: $mulled-wine;
    }
  }

  &__circle {
    margin-right: 5px;

    &--open {
      fill: $heliotrope;

      svg {
        width: 9px;
      }
    }

    &--close {
      fill: $royal-blue;

      svg {
        width: 9px;
      }
    }
  }
}
