@import '../../styles/colors';
@import '../../styles/font-weights';

.dashboard {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
  }

  &__followers {
    align-items: center;
    border: 1px solid $athens-gray;
    border-radius: 4px;
    display: flex;
  }

  &__followers-number {
    background: linear-gradient(0, $cornflower-blue 0%, $cornflower-blue-dark 100%);
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 6.65px 0.35px rgba(52, 84, 245, 0.3);
    color: $white;
    padding: 8px 9px;
  }

  &__followers-logotyp {
    margin-right: 5px;

    svg {
      fill: $white;
      width: 12px;
    }
  }

  &__followers-text {
    color: $spun-pearl;
    font-size: 14px;
    padding: 0 11px;

    @include font-weight-regular;
  }
}

.trades-nav {
  color: $spun-pearl;
  font-size: 12px;
  padding-top: 12px;

  @include font-weight-regular;

  &__ul {
    border-bottom: 1px solid $white-lilac;
    display: flex;
  }

  &__li {
    margin-right: 35px;
    padding-bottom: 21px;

    &:first-child {
      margin-right: 45px;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-bottom: 2px solid $mulled-wine;
      color: $mulled-wine;
    }
  }

  &__circle {
    margin-right: 5px;

    &--open {
      fill: $heliotrope;

      svg {
        width: 9px;
      }
    }

    &--close {
      fill: $royal-blue;

      svg {
        width: 9px;
      }
    }
  }
}
