@import '../../../styles/colors';
@import '../../../styles/font-weights';

.dashboard-header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__title {
    color: $mulled-wine;
    font-size: 25px;

    @include font-weight-regular;
  }

  &__followers {
    align-items: center;
    border: 1px solid $athens-gray;
    border-radius: 4px;
    display: flex;
  }

  &__followers-number {
    background: linear-gradient(0, $cornflower-blue 0%, $cornflower-blue-dark 100%);
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 6.65px 0.35px rgba(52, 84, 245, 0.3);
    color: $white;
    padding: 10px;
  }

  &__followers-logotyp {
    margin-right: 5px;
  }

  &__followers-text {
    color: $spun-pearl;
    font-size: 14px;
    padding: 0 14px;

    @include font-weight-regular;
  }
}

