@import '../../styles/colors';
@import '../../styles/font-weights';

.table {
  width: 100%;

  @include font-weight-regular;

  &__head {
    color: $spun-pearl;
    fill: $spun-pearl;
    font-size: 12px;
    text-align: right;

    th {
      padding: 0 0 5px;
    }

    &--empty {
      th {
        padding: 9px 0;
      }
    }

    &--text-left {
      text-align: left;
    }

    &--padding-bottom-35 {
      th {
        padding-bottom: 35px;
      }
    }

    &--markets-table {
      border-bottom: 1px solid $white-lilac;
      font-size: 15px;

      th {
        &:first-child {
          padding-left: 40px;
        }
      }
    }

    &--traders-table {
      border-bottom: 1px solid $white-lilac;
      font-size: 15px;

      th {
        &:first-child {
          padding-left: 40px;
        }
      }
    }
  }

  &__body {
    color: $spun-pearl;
    font-size: 15px;
    text-align: right;

    &--text-left {
      text-align: left;
    }

    &--markets-table {
      background: linear-gradient(to bottom, #f9f9fd 0%, $white 25px);

      td {
        &:first-child {
          padding-left: 40px;
        }
      }
    }

    &--traders-table {
      background: linear-gradient(to bottom, #f9f9fd 0%, $white 25px);

      td {
        &:first-child {
          padding-left: 40px;
        }
      }
    }
  }

  &__tr {
    border-bottom: 1px solid $white-lilac;

    &:last-child {
      border: 0 solid #000;
    }
  }

  &__td {
    padding: 5px 0;
    vertical-align: middle;

    &--padding-16-0 {
      padding: 16px 0;
    }

    &--padding-18-0 {
      padding: 16px 0;
    }

    &--padding-22-0 {
      padding: 22px 0;
    }

    &--mulled-wine {
      color: $mulled-wine;
    }

    &--text-left {
      text-align: left;
    }

    &--font-size-12 {
      font-size: 12px;
    }

    &--font-size-18 {
      font-size: 18px;
    }

    &--green {
      color: $forest-green;
    }

    &--blue {
      color: $cornflower-blue;
    }

    &--forest-green {
      color: $forest-green;
      fill: $forest-green;
    }

    &--coral-red {
      color: $coral-red;
      fill: $coral-red;
    }

    &--width-15 {
      width: 15%;
    }

    &--width-17 {
      width: 17%;
    }

    &--width-28 {
      width: 28%;
    }
  }

  &__circle-img {
    margin-right: 16px;
  }

  &__fullname {
    margin-right: 9px;
  }

  &--center-elem {
    align-items: center;
    display: flex;
  }
}
