@import '../../styles/colors';

.unavailable-feature {
  background: $white;
  border-radius: 3px;
  font-size: 20px;
  padding: 60px;
  position: relative;

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
