@import '../../styles/colors';
@import '../../styles/font-weights';

.header {
  background-color: $white;


  &__container {
    align-items: center;
    display: flex;
    height: 85px;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
  }

  &__logo-menu {
    align-items: center;
    display: flex;
  }

  &__logo {
    margin-right: 62px;

    svg {
      width: 103px;
    }
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    color: $spun-pearl;
    font-size: 15px;
    margin: 0 16px;

    @include font-weight-regular;

    &:hover {
      color: $mulled-wine;
      cursor: pointer;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--active {
      color: $mulled-wine;

      @include font-weight-medium;
    }
  }

  &__navigation {
    align-items: center;
    display: flex;
  }

  &__actions {
    display: flex;
    margin-right: 55px;
  }

  &__action {
    align-items: center;
    display: flex;
    margin: 0 13px;

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: $mulled-wine;
      width: 21px;
    }

    &--alerts {
      position: relative;
    }
  }

  &__alerts-count {
    align-items: center;
    background: linear-gradient(0, $cornflower-blue 0%, $cornflower-blue-dark 100%);
    border-radius: 50%;
    box-shadow: 0 2px 6.65px 0.35px rgba(52, 84, 245, 0.3);
    color: $white;
    display: flex;
    font-size: 11px;
    height: 19px;
    justify-content: center;
    left: 12px;
    position: absolute;
    top: -10px;
    width: 19px;
  }

  &__avatar {
    position: relative;
  }

  &__avatar-img {
    margin-right: 10px;
  }

  &__user-level {
    bottom: -4px;
    left: -13px;
    position: absolute;
  }

  &__user-name {
    color: $mulled-wine;
    font-size: 15px;

    @include font-weight-regular;
  }

  &__since {
    color: $spun-pearl;
    font-size: 12px;

    @include font-weight-regular;
  }
}
