@mixin font-weight-light {
  font-family: RubikLight, Arial, Helvetica, sans-serif;
}

@mixin font-weight-medium {
  font-family: RubikMedium, Arial, Helvetica, sans-serif;
}

@mixin font-weight-regular {
  font-family: RubikRegular, Arial, Helvetica, sans-serif;
}

@mixin font-weight-bold {
  font-family: RubikBold, Arial, Helvetica, sans-serif;
}
