$grey: #f5f4fb;
$white: #fff;
$mulled-wine: #524f6a;
$spun-pearl: #aeabc0;
$forest-green: #22b745;
$de-york: #71cf87;
$cornflower-blue: #526df7;
$cornflower-blue-dark: #6c84fc;
$athens-gray: #e9e8f0;
$white-lilac: #ecebf7;
$royal-blue: #3454f5;
