@import '../../styles/colors';
@import '../../styles/font-weights';

.tiles {
  background: $white;
  border-radius: 4px;
  box-shadow: 0 0 24px 6px rgba(130, 129, 147, 0.06);
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  &--2x {
    width: 590px;
  }

  &--1x {
    width: 283px;
  }

  &__content {
    box-sizing: border-box;
    height: 190px;
    padding: 14px 38px;
  }

  &__more {
    background: linear-gradient(to bottom, #f9f9fd 0%, $white 37%);
    border-top: 1px solid $white-lilac;
    color: $royal-blue;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;

    @include font-weight-regular;
  }
}
